<nav>
    <!-- <a href="/">Syllabus</a>
    <a href="/schedule.html">Schedule + Class Notes</a>
    <a href="/assignments.html">Assignments</a> -->
    <!-- <div class="nav-section">
    {% for item in site.data.navigation %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.link }}" {% if page.url == item.link %}class="nav-current"{% endif %}>
        <span>*&nbsp;</span>{{ item.name }}
        </a>
    {% endfor %}
    </div> -->
    <div class="nav-section">
        <a href="{{ site.url }}{{ site.baseurl }}"><span>*&nbsp;</span>Syllabus</a>
        <a href="{{ site.url }}{{ site.baseurl }}/assignments.html"><span>*&nbsp;</span>Assignments</a>
        <a href="https://pollev.com/emilyzhao"><span>*&nbsp;</span>Poll Everywhere</a>
    </div>  
    <div class="nav-section">
        <p class="section-days">[Mon/Wed – Section 009]</p>
        <a href="{{ site.url }}{{ site.baseurl }}/schedule-MW.html"><span>*&nbsp;</span>Schedule + Notes</a>
        <a href="https://brightspace.nyu.edu/d2l/home/258670"><span>*&nbsp;</span>Brightspace</a>
    </div>      
    <div class="nav-section">
        <p class="section-days">[Tue/Thu – Section 010]</p>
        <a href="{{ site.url }}{{ site.baseurl }}/schedule-TR.html"><span>*&nbsp;</span>Schedule + Notes</a>
        <a href="https://brightspace.nyu.edu/d2l/home/258672"><span>*&nbsp;</span>Brightspace</a>
    </div>  
</nav>